body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    font-size: 18px;
    background-color: #fff;
}

a, a:hover {
    color: #0088cc;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

header,    
footer {
    text-align: center;
}